* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.side-bar {
    position: absolute;
    margin-top: -20px;
    width: 270px;
    height: 680px;
    background: #002855;
    mix-blend-mode: normal;
    float: left;
}
.logo {
    margin-left: 32px;
    margin-top: 40px;
}
.elephant {
    margin-left: -45px;
    margin-bottom: 1px;
}
.side-bar-content {
    color: white;
    margin-left: 27.75px;
    margin-top: 22px;
    line-height: 54px;
    font-size: 16px;
}

.side-bar-1 {
    margin-left: 27.5px;

}
.back-arrow {
    float: right;
    margin-right: 28px;
    margin-top:22px;
}
.horizontal-bar{
    margin-left: 300px;
    width: 1040px;
    margin-top: 10px;
    clear: left;
}
.dashboard {
    margin-left: 270px;
    margin-top: 13px;
    background-color: #f1f5fa;
    height: 570px;
    color: #002855;
}
.right-logo {
    margin-left: 740px;
}
.power{
    margin-left: 15px;
    margin-bottom: 2px;
}
.container{
    margin-left: 15px;
    font-size: 14px;
    color: #002855;
    display: inline-block;
    width: 120px;
}
.profile{
    margin-left: 3px;
    display: inline-block;
    margin-bottom: -10px;
    height: 40px;
}
.heading{
    margin-left: 32px;
}
h3{
    line-height: 60px;
}
.sub-menu {
    width: 795px;
    background-color: rgb(255, 255, 255);
    height: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 40, 85, 0.1);
    font-size: 15px;
}
.sub-menu-1 {
    border-right: 1.9px solid #DFE6EC;
    line-height: 56px;
    margin-left: 8px;
    padding: 3px;
    display: inline-block;
   width: 113px;
}
.head-2{
margin-top: 20px;
}

footer{
margin-left: 300px;
margin-top: 9px;
}
.last{
    float: right;
    margin-right: 20px;
}